#Ignore files build by Visual Studio
*.user
*.suo
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
bin/
[Dd]debug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
_logs/
TestResults/
Project_Beer/packages/
Buildserver/
_Chutzpah.*
*.pubxml
.vs/config/applicationhost.config

