@using System.Web.Optimization
@using Project_Beer.App_Start


<!DOCTYPE html>

<html data-ng-app="beerApp">
    <head>
       
        <meta name="viewport" content="width=device-width" />
        <title>_Layout</title>
         @Styles.Render("~/Content/css")
    </head>
<body>
    <section id="view" data-ng-view="">
        @RenderBody()
    </section>
     @Scripts.Render(BundleConfig.SCRIPTS_GLOBAL)
    <script type="text/javascript">
        window.baseUrl = '@Url.Content("~/")';
    </script>
</body>
</html>
